<?php
if (!$this->login->tryLogin()) {
  echo $this->signInHelper($this->login);
} else {
  $image = '';
  $image_thumb = '';
  if (count($this->gallery)) {
    foreach ($this->gallery as $image_gallery) {
      $image.= '<li><img src="/img/' . $image_gallery['name_images'] . '"></li>';
      $image_thumb.= '<li><img src="/img/thumb/' . $image_gallery['name_images'] . '"></li>';
    }
    ?>
    <h2 class="title"><?php echo $this->gallery_name; ?></h2>
    <div class="right_content">
      <div class="connected-carousels">
        <div class="stage">
          <div class="carousel carousel-stage">
            <ul>
              <?php echo $image; ?>
            </ul>
          </div>
          <a href="#" class="prev prev-stage"></a>
          <a href="#" class="next next-stage"></a>
        </div>

        <div class="navigation">
          <a href="#" class="prev prev-navigation"></a>
          <a href="#" class="next next-navigation"></a>
          <div class="carousel carousel-navigation">
            <ul>
              <?php echo $image_thumb; ?>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <?php
  } else {
    echo "<h3 style='text-align: center;  margin-top: 80px;'>Gallery is empty.</h3>";
  }
}
?>