<?php
if (!$this->login->tryLogin()) {
  echo $this->signInHelper($this->login);
} else {
  ?>

  <h2 class="title">panel</h2>
  <div class="right_content" id="panel">
    <table>
      <?php
      if (count($this->gallery))
        foreach ($this->gallery as $image_gallery) {
          echo "<tr><td>File " . $image_gallery['name_images'] . "</td><td><a href='/index/usun-image/image_id/" . $image_gallery['idimages'] . "'><img src='/assets/x.png' class='ico_x'/></a></td></tr>";
        }
      ?>
    </table>

    <div id="upload_img">

      <form action="/index/upload-img-galeria/"  method="post" enctype="multipart/form-data" id="form_upload_img" >
        <div style="float: left;"> <label>upload:</label>
          <input type="file" class="file" name="zdjecie"/>
        </div>
        <div class="button_submit" submit ="form_upload_img">Add</div>
      </form>
      <div class="clear"></div>
    </div>
    <a href="/index/change-private"><div class="button_submit" style="margin-top: 15px;"> Set
        <?php
        echo ($this->gallery_private == 1) ? 'private' : 'public';
        ?>
        gallery</div></a>
  </div>
  <?php
}
?>