/** Stage container **/

.connected-carousels .stage {
    width: 400px;
    margin: 20px auto;
    position: relative;
}
/** Navigation container **/

.connected-carousels .navigation {
    width: 250px;
    margin: 20px auto;
    position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    height: 300px;
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: 50px;
    width: 240px;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    max-width: 60px
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage {
    left: 0;
}

.connected-carousels .next-stage {
    right: 0;
}

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -52px;
    width: 38px;
    height: 104px;

}

.connected-carousels .prev-stage {
    left: -100px;
    background: url('arrow1.png')
}

.connected-carousels .next-stage {
    right: -100px;
    background: url('arrow2.png')
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    top: 0%;
    margin-top: -3px;
    width: 21px;
    height: 57px;
}

.connected-carousels .prev-navigation {
    left: -30px;
    background: url('arrow4.png')
}

.connected-carousels .next-navigation {
    right: -30px;
    background: url('arrow3.png')
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}
.carousel-stage li img {
    max-width: 400px;
}
.carousel-stage li {
    min-width: 400px;
    text-align: center;
}