<div id='menu_panel'><?php if ($this->islogged) { ?>

  <a href="/login/logout">LOGOUT</a><br><br>
  <a href="/index/panel">PANEL</a><br>
    <?php
  }
  ?>
</div>
<?php
if (count($this->galleries_helper))
  foreach ($this->galleries_helper as $gallery) {
    echo "<a href='/index/index/gallery_id/" . $gallery['idusers'] . "' ";
    if ($gallery['idusers'] == $this->actualgallery) {
      echo " class='actual_gallery' ";
    }
    echo ">" . $gallery['login'] . "</a><br>";
  }
?>